/* .schedule-body > tr:hover {
  background-color: orange;
} */

/* Оформление таблицы */
.schedule {
  border-collapse: collapse;
}

.schedule th,
.schedule td {
  padding: 8px;
  border: 1px solid #212121;
}
tr > td:hover {
  background-color: rgba(255, 0, 0, 0.3);
}
.title {
  color: #ffffff;
  text-shadow: 5px 5px 5px #ff0000, 5px 5px 20px #000000;
}
pre {
  font-family: 'Arial', 'Helvetica', sans-serif;
  color: #2a2a2a;
  font-size: 16px;
}

pre::first-letter {
  font-family: 'Tahoma', serif;
  font-size: 32px;
  color: #f44336;
}
pre::selection {
  color: #ff0000;
  background-color: #3f51b5;
}
